#salom{
    color: red;
}
#inputPageOne{
    height: 35px !important;
    width: 300px;
    
}
#pageOneBody{
    margin-right: 30px !important;
}
#textParagraph{
 font-weight: 300;
 font-size: 28px;
}
#titlePageOne{
    font-size: 72px;
}
