.bigUl li{
    display: block;
}
.FooterContainer{
    height: 500px;
    background-color: black;
    
}
.line{
    height: 1px !important;
    background-color: grey !important;
}
.FooterContact{
    
    
}

