/* #LeftSection-2nd-Page{
    height: 444px;
}
#ThirdpageSection{
    margin-top: -114px !important;
    position: relative;

}

.betweenOfTwoTitles{
    background-color: black;
    width: 100%;
    height: 114px;
    margin-top:0px;
}

#iconsSectionForCss{
    height: 220px;
    position: relative;
    background-color: black;
    
} */


/* ___________________________________________________________________________________________ */



